{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Watchlist - Goods Price Tracker</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <div class="page-header">
  <div class="logo-title">
    <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
    <span>Goods Price Tracker</span>
  </div>

  <div class="top-right">
    <a href="{% url 'dashboard' %}"><button type="button">Close</button></a>
  </div>
</div>


  <h3 id="editTitle">Edit Watchlist</h3>
  <div style="display: flex; justify-content: center; gap: 10px; margin: 10px 0;">
    <button onclick="addItem()">Add Items</button>
    <button onclick="deleteItem()">Delete Item</button>
    <button onclick="deleteWatchlist()">Delete Watchlist</button>
  </div>
  <div id="watchlistItems"></div>
</body>
</html>
<script>
  const params = new URLSearchParams(window.location.search);
  const name = params.get("name");

  if (name) {
    document.getElementById("editTitle").innerText = "Edit Watchlist: " + name;
  }
</script>
